<mat-card appearance="outlined">
  <div class="row justify-content-center">
    <div class="col-sm-1 col-lg-1">
      <mat-label mat-card-title>Pair: </mat-label>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-sm-12 col-lg-4">
      <mat-label style="font-size: 18px; text-align: center" mat-card-title>Current price:</mat-label>
    </div>
    <div class="col-sm-12 col-lg-4">
      <mat-label style="font-size: 18px; text-align: center" mat-card-title>All time high: </mat-label>
    </div>
    <div class="col-sm-12 col-lg-4">
      <mat-label style="font-size: 18px; text-align: center " mat-card-title>All time low: </mat-label>
    </div>
  </div>
  <div class="row m-2">
    <div class="col-sm-12 col-lg d-flex align-items-center justify-content-center">
      <mat-label mat-card-title style="font-size: 18px; width: auto">Set buying price:</mat-label>
      <input matInput class="form-control" style="width: auto; margin-left: 3px; height: 80%">
    </div>
  </div>
  <div class="row justify-content-around mb-2">
    <div class="col-sm-12 col-lg-3">
      <button class="btn btn-success w-100">Create order</button>
    </div>
    <div class="col-sm-12 col-lg-3">
      <button class="btn btn-danger w-100">Cancel</button>
    </div>
  </div>
</mat-card>
