<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-sm col-lg">
      <mat-form-field class="w-100">
        <mat-label>Email:</mat-label>
        <input matInput placeholder="email" [(ngModel)]="email" type="email">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm col-lg">
      <mat-form-field class="w-100">
        <mat-label>Password:</mat-label>
        <input matInput placeholder="password" [(ngModel)]="password" type="password">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm col-lg">
    <button mat-button class="btn btn-info w-100" (click)="login()">Login</button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm col-lg">
      <mat-card-title style="text-align: center;">Don't have an account? Register
        <a>
          HERE
        </a>
      </mat-card-title>
    </div>
  </div>
  <div class="row">
  <div class="col-sm col-lg">
    <mat-card-title style="text-align: center;">Or login using:</mat-card-title>
  </div>
</div>
  <div class="row justify-content-between mt-2">
            <div class="col-xs-12 col-lg-3" style="text-align: center">
              <i class="bi bi-facebook h2" style="color: blue"></i>
            </div>
            <div class="col-xs-12 col-lg-3" style="text-align: center">
              <i class="bi bi-google h2" style="color: green"></i>
            </div>
            <div class="col-xs-12 col-lg-3" style="text-align: center">
              <i class="bi bi-twitter-x h2"></i>
            </div>
            <div class="col-xs-12 col-lg-3" style="text-align: center">
              <i class="bi bi-apple h2"></i>
            </div>
      </div>
</div>
